.cache
CMakeFiles
.ninja_deps
cserver_tests*
examples/output
.ninja_log
CMakeCache.txt
CTestTestfile.cmake
build.ninja
cmake_install.cmake
compile_commands.json
cserverConfig.cmake
cserverConfigVersion.cmake
install_manifest.txt
CPM_modules
_deps
cmake/CPM.cmake
cpm-package-lock.cmake
include/openssl
include/tls.h
lib__cmake_cxx23.a
